<div class="mb-3 card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= plant.image_url %>')">
  <%= plant.name %>

  <ul>
    <% plant.tags.each do |tag| %>
      <li><%= tag.name %></li>
    <% end %>
  </ul>

  <%= link_to '&times;'.html_safe, plant_path(plant), class: "card-remove-link", method: :delete %>
</div>
